
.horizontalBarChart {
    display:table;
    font-family: RobotoLight;
}

.lineHolder{
	border-bottom-color: black;
	border-bottom-width: thin;
	border-bottom-style: dotted;
}

.barContainer {
	display:inline-block;
    width:calc(100% - 124px);
    padding-right:0; 
}

.barLabel{
	width:100px;
	display:inline-block;
}

.percentage {
	float:left;
    display:inline-block;
    width:25px;
    color:#55ACEE;

}
.child{
	display:inline-block;
    margin: 0 auto;
    width:calc(100% - 25px);
}